/*  
Created by: Ioana
Created on: May 12 2022
CSS stylesheet for: Assign-04-HTML-FoodOrder
*/

body {
  background-color: firebrick;
  color: #dec8cd;
}

.mar{
  margin: 50px;
}

table {
  font-family: Lucida Handwriting, cursive;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

.font {
  font-family: Lucida Handwriting, cursive;
}